@charset "utf-8";

header {
	text-align: center;
	font-size: 2.2em;
	margin-top: 35px;
	margin-bottom: 20px;
}
.login {
	position: absolute;
	top: 30px;
	right: 9%;
	text-align: center;
}

a {
	color: #337693;
}

/*テーブルの大きさを固定*/
/*かつセルの幅より多い文字列は改行させる*/
table {
	width: 80%;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.th1 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 8%;
}

.th2 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 30%;
}

.th3 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 25%;
}

.th4 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 15%;
}

.th5 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 7%;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	height: 7%;
	text-align: center;
}

table.table th {
	font-weight: bold;
	vertical-align: middle;
	height: 40px;
}

table.table td {
	vertical-align: middle;
	height: 65px;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

tr:nth-child(2n+3) {
	background: #d9d9d9;
}

#bottom-back form input[type="submit"] {
	position: absolute;
	width: 10%;
	top: 70%;
	left: 20%;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#bottom-back form input[type="submit"]:hover {
	background: #000000;
}

#bottom-p form input[type="submit"] {
	position: absolute;
	width: 10%;
	top: 70%;
	right: 20%;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#bottom-p form input[type="submit"]:hover {
	background: #000000;
}