@charset "utf-8";

header {
	text-align: center;
	font-size: 2.2em;
	margin-top: 35px;
	margin-bottom: 20px;
}

#name {
	font-size: 1.2em;
	position: absolute;
	top: 7%;
	right: 10%;
	color: #0000FF
}

/*テーブルの大きさを固定*/
/*かつセルの幅より多い文字列は改行させる*/
table {
	width: 80%;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.th1 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 8%;
}

.th2 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 30%;
}

.th3 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 25%;
}

.th4 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 15%;
}

.th5 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	width: 7%;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	height: 7%;
	text-align: center;
}

table.table th {
	font-weight: bold;
	vertical-align: middle;
	height: 40px;
}

table.table td {
	vertical-align: middle;
	height: 65px;
}

table tr:nth-child(2n+3) {
	background: #d9d9d9;
}

#bottom1 form input[type="submit"] {
	position: relative;
	width: 10%;
	top: 45px;
	right: 30%;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#bottom1 form input[type="submit"]:hover {
	background: #000000;
}

/*bottomで高さの調整*/
#bottom2 form input[type="submit"] {
	position: relative;
	width: 10%;
	left: 30%;
	bottom: 10px;
	background : #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	background: #555555
}

#bottom2 form input[type="submit"]:hover {
	background: #000000;
}