@charset "utf-8";

header {
	text-align: center;
	font-size: 2.2em;
	margin-top: 35px;
	margin-bottom: 20px;
}

#a form input[type="text"] {
	font-size: 1.0em;
	width: 50%;
	height: 30px;
	margin-bottom: 30px;
}

#year {
	margin-top: 30px;
	font-size: 1.0em;
	width: 5%;
	height: 30px;
	margin-bottom: 20px;
}

#month {
	font-size: 1.0em;
	width: 3%;
	height: 30px;
	margin-bottom: 20px;
}

#day {
	font-size: 1.0em;
	width: 3%;
	height: 30px;
	margin-bottom: 20px;
}

#hour {
	font-size: 1.0em;
	width: 3%;
	height: 30px;
	margin-bottom: 20px;
}

#minute {
	font-size: 1.0em;
	width: 3%;
	height: 30px;
	margin-bottom: 20px;
}

#pulldown {
	margin-right:6%;
}

#pulldown2 {
	margin-right:2%;
}

#bottom1 form input[type="submit"] {
	position: absolute;
	width: 10%;
	top: 70%;
	left: 20%;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#bottom1 form input[type="submit"]:hover {
	background: #000000;
}

#a form input[type="submit"] {
	position: absolute;
	width: 10%;
	top: 70%;
	right: 20%;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#a form input[type="submit"]:hover {
	background: #000000;
}