@charset "utf-8";

header {
	text-align: center;
	font-size: 2.2em;
	margin-top: 35px;
	margin-bottom: 20px;
}

#name {
	font-size: 1.2em;
	position: absolute;
	top: 7%;
	right: 10%;
	color: #0000FF
}

/*テーブルの大きさを固定*/
/*かつセルの幅より多い文字列は改行させる*/
table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

/* thとtdの幅をそろえる */
.th1 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 8.5em;
	max-width: 8.5em;
}

.td1 {
	min-width: 8.5em;
	max-width: 8.5em;
}

.th2 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 24em;
	max-width: 24em;
}

.td2 {
	min-width: 24em;
	max-width: 24em;
}

.th3 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 22em;
	max-width: 22em;
}

.td3 {
	min-width: 22em;
	max-width: 22em;
}

.th4 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 12em;
	max-width: 12em;
}

.td4 {
	min-width: 12em;
	max-width: 12em;
}

.th5 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 3.3em;
	max-width: 3.3em;
}

.td5 {
	min-width: 3.3em;
	max-width: 3.3em;
}

.th6 {
	font-weight: bold;
	background: #3f3f3f;
	color: #ffffff;
	min-width: 3.3em;
	max-width: 3.3em;
}

.td6 {
	min-width: 3.3em;
	max-width: 3.3em;
}

thead {
	display: block;
}

/*heightはtableの高さ*/
tbody {
	height: 22em;
	display: block;
	overflow-y: scroll;
}

table, th, td {
	border: 1px solid #ccc;
	height: 7%;
	text-align: center;
}

table.table th {
	font-weight: bold;
	vertical-align: middle;
	height: 40px;
}

table.table td {
	vertical-align: middle;
	height: 68px;
}

table tr:nth-child(even) {
	background: #d9d9d9;
}

#bottom form input[type="submit"] {
	position: relative;
	width: 10%;
	top: 45px;
	background: #555555;
	border: 0;
	border-radius: 3px;
	color: white;
	height: 60px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	margin-bottom: 30px;
}

#bottom form input[type="submit"]:hover {
	background: #000000;
}